.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.tabs {
  display: none;
}

.dropdown {
  display: block;
}


@media only screen and (min-width: 768px) {
  .tabs {
    display:block;
  }

  .dropdown {
    display:none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');